:root {
	--color-cream: hsl(30, 38%, 92%);
	--color-Dark-cyan: hsl(158, 36%, 37%);
	--color-white: hsl(0, 0%, 100%);
	--color-blue: hsl(228, 45%, 44%);

	--font-Montserrat: "Montserrat", sans-serif;
	--font-Fraunces: "Fraunces", serif;
}

html,
body {
	background-color: var(--color-cream);
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*Para Web*/
.previewCard {
	display: flex;
	flex-direction: row;
	width: 720px;
	height: 550px;
	place-items: center;
}

.Product-image {
	margin: 0;
	flex-basis: 50%;
	width: 100%;
	height: 100%;
}
.Product-image > img {
	height: 100%;
	width: 100%;
}

.DetailProduct {
	margin: 0px;
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-basis: 50%;
	height: 100%;
	width: 100%;
}

.Product {
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 10px;
	font-family: var(--font-Montserrat);
	font-size: 18px;
	letter-spacing: 5px;
	font-weight: bolder;
}

.Product-Name-Web,
.Product-Name-Mobile {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 0;
	font-family: var(--font-Fraunces);
}

.Product-Name-Web {
	font-size: 40px;
	margin-bottom: 5px;
}
.Product-Name-Mobile {
	font-size: 0;
	margin-bottom: 0px;
}

.Product-Description > p {
	margin-top: 0px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 5px;
	font-family: var(--font-Montserrat);
	font-size: 19px;
}

.Prices {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 20%;
}

.New-Price {
	margin: 0;
	margin-left: 25px;
	flex-basis: 50%;
	text-align: center;
	color: var(--color-Dark-cyan);
	font-size: 50px;
}

.Old-Price {
	margin: 0;
	margin-left: 25px;
	flex-basis: 50%;
	text-align: left;
	text-decoration: line-through;
	font-weight: normal;
	font-size: 20px;
}

.button {
	margin-top: 0;
	margin-left: 25px;
	margin-bottom: 25px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--color-Dark-cyan);
	border-color: var(--color-Dark-cyan);
	border-style: solid;
	border-radius: 5px;
	height: 7%;
	width: 80%;
}

.button > img,
.button > button {
	height: 50%;
}

.button > img {
	background-color: var(--color-Dark-cyan);
}

.button > button {
	color: var(--color-white);
	font-family: var(--font-Montserrat);
	background-color: var(--color-Dark-cyan);
	border: none;
	font-weight: bolder;
	font-size: 15px;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: var(--color-blue);
}

/*Para Mobile*/
@media (max-width: 720px) {
	.previewCard {
		display: grid;
		grid-template-rows: 40% 60%;
		width: 375px;
		height: 750px;
		place-items: center;
	}

	.Product {
		margin-left: 20px;
		margin-right: 20px;
	}

	.DetailProduct {
		justify-content: space-evenly;
	}

	.Product-Name-Mobile {
		font-size: 37px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 10px;
	}

	.Product-Name-Web {
		font-size: 0;
		margin-bottom: 0;
	}

	.Product-Description > p {
		margin-left: 20px;
		margin-right: 16px;
		font-size: 17px;
	}

	.New-Price {
		margin-left: 20px;

		font-size: 45px;
	}

	.Old-Price {
		margin-left: 20px;
		font-size: 18px;
	}

	.button {
		height: 10%;
	}
}
